<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705738728060-1hc5ps20don3s10moivp8mbdbtplhf9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705738728060-1hc5ps20don3s10moivp8mbdbtplhf9j</string>
	<key>API_KEY</key>
	<string>AIzaSyBq2OxkTLK0Psr4BwySHyDNNxJy5h-6Lr0</string>
	<key>GCM_SENDER_ID</key>
	<string>705738728060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.CafeNibm</string>
	<key>PROJECT_ID</key>
	<string>cafenibm-cbcca</string>
	<key>STORAGE_BUCKET</key>
	<string>cafenibm-cbcca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705738728060:ios:3f4fc76038bd56afb69ff9</string>
	<key>DATABASE_URL</key>
	<string>https://cafenibm-cbcca-default-rtdb.firebaseio.com</string>
</dict>
</plist>